# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/MS-web/target/
/MS-service/target/
/MS-domain/target/
/MS-dao/target/
